In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing
import seaborn as sns

In [14]:
#Reading ht csv file
df =pd.read_csv("C:\Projects\Data_sci\DAX-DS-Assignment-2022-Soham_Patil\Data_Analytics\healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [15]:
ISNULL = df.bmi.isnull()
ISNULL_SUM = ISNULL.sum()
print(ISNULL_SUM)

total_bmi = len(df.bmi)
print(total_bmi)

percent_bmi = (ISNULL_SUM/total_bmi)*100
print(percent_bmi)

df['bmi'] = df['bmi'].fillna(df['bmi'].median())
df

201
5110
3.9334637964774952

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.1,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [16]:
#REMOVING OUTLIERS
#BMI
upper_limit = df.bmi.mean() + 3*df.bmi.std()
print(upper_limit)

lower_limit = df.bmi.mean() - 3*df.bmi.std()
print(lower_limit)

df_no_outlier_std_dev = df[(df.bmi<upper_limit) & (df.bmi>lower_limit)]

df['bmi'] = np.where(
    df['bmi']>upper_limit,
    upper_limit,
    np.where(
        df['bmi']<lower_limit,
        lower_limit,
        df['bmi']
    )
)

#REMOVING OUTLIERS AVG GLUCOSE LEVELL
upper_limit_agl = df.avg_glucose_level.mean() + 3*df.avg_glucose_level.std()
lower_limit_agl = df.avg_glucose_level.mean() - 3*df.avg_glucose_level.std()

df_no_outliers = df[(df.avg_glucose_level<upper_limit_agl) & (df.avg_glucose_level>lower_limit_agl)]

df['avg_glucose_level'] = np.where(
    df['avg_glucose_level']>upper_limit_agl,
    upper_limit_agl,
    np.where(
        df['avg_glucose_level']<lower_limit_agl,
        lower_limit_agl,
        df['avg_glucose_level']
    )
)

51.96072218141144
5.7633482686864035

In [17]:
#SCALING
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
data = ['age','avg_glucose_level','bmi']
df[data] = Scaler.fit_transform(df[data])
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,0.816895,0,1,Yes,Private,Urban,0.928786,0.631290,formerly smoked,1
1,51676,Female,0.743652,0,0,Yes,Self-employed,Rural,0.787090,0.427261,never smoked,1
2,31112,Male,0.975586,0,1,Yes,Private,Rural,0.271835,0.532876,never smoked,1
3,60182,Female,0.597168,0,0,Yes,Private,Urban,0.621313,0.578483,smokes,1
4,1665,Female,0.963379,1,0,Yes,Self-employed,Rural,0.636778,0.328847,never smoked,1

In [18]:
#Encoding
#OnehotEncoding and dummyEncoding increases the columns whereas labelencoder does not increase the columns  
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
Categorical_data = ['gender','ever_married','work_type','Residence_type','smoking_status']
# df[Categorical_data] = lb.fit_transform(df[Categorical_data])
df.gender = lb.fit_transform(df.gender)
df.ever_married = lb.fit_transform(df.ever_married)
df.work_type = lb.fit_transform(df.work_type)
df.Residence_type = lb.fit_transform(df.Residence_type)
df.smoking_status = lb.fit_transform(df.smoking_status)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,0.816895,0,1,1,2,1,0.928786,0.631290,1,1
1,51676,0,0.743652,0,0,1,3,0,0.787090,0.427261,2,1
2,31112,1,0.975586,0,1,1,2,0,0.271835,0.532876,2,1
3,60182,0,0.597168,0,0,1,2,1,0.621313,0.578483,3,1
4,1665,0,0.963379,1,0,1,3,0,0.636778,0.328847,2,1

# SELECTING FEATURES AND CREATING DATAFRAME

In [31]:
X = df.drop(['Residence_type','ever_married','stroke'],axis=1)
print(X)

Y = df['stroke']
print(Y)

         id  gender       age  hypertension  heart_disease  work_type  \
0      9046       1  0.816895             0              1          2
1     51676       0  0.743652             0              0          3
2     31112       1  0.975586             0              1          2
3     60182       0  0.597168             0              0          2
4      1665       0  0.963379             1              0          3
...     ...     ...       ...           ...            ...        ...
5105  18234       0  0.975586             1              0          2
5106  44873       0  0.987793             0              0          3
5107  19723       0  0.426270             0              0          3
5108  37544       1  0.621582             0              0          2
5109  44679       0  0.536133             0              0          0

      avg_glucose_level       bmi  smoking_status
0              0.928786  0.631290               1
1              0.787090  0.427261               2
2              0.271835  0.532876               2
3              0.621313  0.578483               3
4              0.636778  0.328847               2
...                 ...       ...             ...
5105           0.153201  0.427261               2
5106           0.375003  0.712902               2
5107           0.149134  0.487270               2
5108           0.594879  0.367252               1
5109           0.161388  0.381654               0

[5110 rows x 9 columns]
0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

# MODELS

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
from sklearn.linear_model import LogisticRegression

In [39]:
from collections import Counter
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=42)

print(Counter(y_train))

print(Counter(y_test))

Counter({0: 3417, 1: 160})
Counter({0: 1444, 1: 89})