In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing
import seaborn as sns

In [40]:
#Reading ht csv file
df =pd.read_csv("C:\Projects\Data_sci\DAX-DS-Assignment-2022-Soham_Patil\Data_Analytics\Analytics.csv")
df.head()

,Unnamed: 0,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,1,0.816895,0,1,1,2,1,0.928786,0.631290,1,1
1,1,51676,0,0.743652,0,0,1,3,0,0.787090,0.427261,2,1
2,2,31112,1,0.975586,0,1,1,2,0,0.271835,0.532876,2,1
3,3,60182,0,0.597168,0,0,1,2,1,0.621313,0.578483,3,1
4,4,1665,0,0.963379,1,0,1,3,0,0.636778,0.328847,2,1

# SELECTING FEATURES AND CREATING DATAFRAME

In [41]:
X = df.drop(['Residence_type','ever_married','stroke'],axis=1)
print(X)

Y = df['stroke']
print(Y)

      Unnamed: 0     id  gender       age  hypertension  heart_disease  \
0              0   9046       1  0.816895             0              1
1              1  51676       0  0.743652             0              0
2              2  31112       1  0.975586             0              1
3              3  60182       0  0.597168             0              0
4              4   1665       0  0.963379             1              0
...          ...    ...     ...       ...           ...            ...
5105        5105  18234       0  0.975586             1              0
5106        5106  44873       0  0.987793             0              0
5107        5107  19723       0  0.426270             0              0
5108        5108  37544       1  0.621582             0              0
5109        5109  44679       0  0.536133             0              0

      work_type  avg_glucose_level       bmi  smoking_status
0             2           0.928786  0.631290               1
1             3           0.787090  0.427261               2
2             2           0.271835  0.532876               2
3             2           0.621313  0.578483               3
4             3           0.636778  0.328847               2
...         ...                ...       ...             ...
5105          2           0.153201  0.427261               2
5106          3           0.375003  0.712902               2
5107          3           0.149134  0.487270               2
5108          2           0.594879  0.367252               1
5109          0           0.161388  0.381654               0

[5110 rows x 10 columns]
0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

# MODELS

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
from collections import Counter
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=42)

print(Counter(y_train))

print(Counter(y_test))

Counter({0: 3417, 1: 160})
Counter({0: 1444, 1: 89})